# Mac filesystem dust
.DS_Store/
.DS_Store

# Linux temp files
*~

# vim
.*.sw[a-p]

# IntelliJ
*.iml
.idea

# Gradle
!gradle/wrapper/gradle-wrapper.jar
.gradle
build

# Leaf
build-data/dev-imports.txt
leaf-archived-patches/todo
run

leaf-api/build.gradle.kts
leaf-server/build.gradle.kts
leaf-server/src/minecraft
gale-api
gale-server
paper-api
paper-server
