# JVM crash related
core.*
hs_err_pid*

# vim
.*.sw[a-p]

# Mac
.DS_Store/
.DS_Store

# Linux temp files
*~

# Intellij
.idea
*.iml

# Gradle
!gradle/wrapper/gradle-wrapper.jar
.gradle
build

# Leaf
build-data
run

Leaf-API
Leaf-MojangAPI
Leaf-Server
paper-api-generator

patches/todo